<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KJAutoLayoutSkillDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DE4AE2F1EA6875800ADB31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DE4AE481EA6875800ADB31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DE4AE531EA6875800ADB31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
